<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.straatinfo.straatinfo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".Controllers.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,InnerclassSeparator">
        <activity android:name=".Controllers.ReportMessagesActivity"
                  android:screenOrientation="portrait">
        </activity>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".Controllers.ReportInformationActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.TeamFormActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.TeamMemberRequestActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.TeamDetailsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.MyProfile"
                android:label="@string/menu_profile"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Controllers.MyTeamActivity"
                android:label="@string/menu_home"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Controllers.ReportsActivity"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name=".ReportsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".Controllers.HomeActivity"
                android:label="@string/app_bar_label_home"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".Controllers.RegistrationCreateTeamActivity"
                tools:ignore="InnerclassSeparator">
        </activity>
        <activity
                android:name=".Controllers.EnterCodeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.RegistrationActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.InitialActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Controllers.LoginActivity"
                android:screenOrientation="portrait">
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".Controllers.MapsActivity"
                android:label="@string/title_activity_maps"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controllers.MainActivity"
                android:label="@string/app_bar_label_home"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/color_blue_dark" />


    </application>

</manifest>